@import '../../index.scss';

.dressCode-div {
    text-align: center;
    margin-bottom: 48px;

    .photo{
        // width: 360px;
        // height: 380px;
        width: 110%;
        height: auto;
        @include margin-photo;

        @media (min-width: 768px) {
            width: 540px;
            height: 570px;
        }

        @media (min-width: 1024px) {
            width: 720px;
            height: 760px;
        }
    }

    .dressBoyGirl-div {
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;

        &.girl-div {
            margin-bottom: 0px;
        }
    }

    p {
        @include p-24;
        text-align: left;
        margin-left: 10px;
    }

    h1 {
        margin-bottom: 12px;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}