@import '../../index.scss';

.end-div {
    text-align: center;
    margin-bottom: 48px;

    .photo {
        // width: 360px;
        // height: 470px;
        width: 110%;
        height: auto;
        @include margin-photo;

        @media (min-width: 768px) {
            width: 540px;
            height: 705px;
        }

        @media (min-width: 1024px) {
            width: 720px;
            height: 940px;
        }
    }

    p {
        @include p-24;
        
        .end-p {
            margin-bottom: 24px;
        }
    }
}