@import '../../index.scss';

.end-div {
    text-align: center;
    margin-bottom: 48px;

    .photo {
        width: 360px;
        height: 470px;
        @include margin-photo;
    }

    p {
        @include p-24;
        
        .end-p {
            margin-bottom: 24px;
        }
    }
}