@import '../../index.scss';

.dateTimePlace-div {
    text-align: center;
    margin-bottom: 48px;

    .photo {
        // width: 360px;
        // height: 420px;
        width: 110%;
        height: auto;
        @include margin-photo;

        @media (min-width: 768px) {
            width: 540px;
            height: 630px;
        }

        @media (min-width: 1024px) {
            width: 720px;
            height: 840px;
        }
    }

    p {
        @include p-24;
        margin: 0px 0px 8px 0px;
    }

    h1 {
        margin-bottom: 12px;
    }

    div {
        margin-bottom: 48px;
    }

    .icon {
        @include margin-icon;
    }
}