@import '../../index.scss';

.div-place {
    text-align: center;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        @include p-24;
        margin: 0px 0px 8px 0px;
    }

    h1 {
        margin-bottom: 12px;
    }

    .icon {
        @include margin-icon;
    }

    .iframe {
        min-width: 360px;
        height: 360px;
        margin: 0px -20px 24px -20px;

        iframe {
            border: 0px;
            min-width: 360px;
            max-width: 70%;
        }
    }
}