@import '../../index.scss';

.home-div {
    margin-top: 24px;
    margin-bottom: 48px;
    text-align: center;

    .photo {
        width: 360px;
        height: 320px;
        @include margin-photo;
    }

    h1 {
        margin-bottom: 24px;
    }

    p {
        @include p-24;
    }

    .icon {
        @include margin-icon;
    }
}


