@import '../../index.scss';

.div-body {
    background-color: $primary-color;
    padding: 0px 20px;
    margin: 0px;
    @include font-family;
    color: $secondary-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    h1 {
      font-size: 36px;
      margin: 0px;
    }
    
    h2 {
      font-size: 32px;
      margin: 0px;
    }
  
    p {
      margin: 0px;
    }
  
    .icon {
      @include margin-icon;
    }
  }