@import '../../index.scss';

.playlist-div {
    text-align: center;
    margin-bottom: 48px;

    h1 {
        margin-bottom: 12px;
    }

    p {
        @include p-24;
        margin-bottom: 24px;
    }
}