@import './src/index.scss';

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0px -20px;
    height: 92px;
    box-shadow: 0px 1px 2px $shade-color;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $primary-color;
    

    div {
        margin: 20px;
    }

    span {
        display: block;
    }

    nav {
        margin-top: -42px;
        width: 100%;
        display: none;
        justify-content: end;
        margin-right: 20px;

        ul {
            background-color: $neutral-white;
            margin: 0px;
            padding: 0px;
        }

        li {
            padding: 10px;
            border: solid 1px;
            text-align: center;
            list-style: none;
        }
    }

    .isActive {
        display: flex;
    }
}