@import '../../index.scss';

.gift-div {
    text-align: center;
    margin-bottom: 48px;

    .photo {
        width: 360px;
        height: 330px;
        @include margin-photo;
    }

    h1 {
        margin-bottom: 12px;
    }

    p {
        @include p-24;
        margin-bottom: 24px;
    }
}